/* Notes, grid for game port is 11 high (including game field) 5 wide 

colors:

green: #228b22
blue: #273Be2
purple: #8f00ff
grey: #536878
white: #f8f8ff
*/

* {
    box-sizing: border-box
  }
  
  body {
    background-color: #273Be2;
    /* Use a system font, if none are available use an available sans-sarif font */
    font-family: "azeret-mono", monospace;
    font-weight: 300;
    font-style: normal;
    /* Ensures full height compatibility across devices */
    color: #f8f8ff;
    min-height: 100dvh;
    /* height: 100vh; */
    margin: 0;
  }

  

  #greetings-screen{
    /* visibility: hidden; */
    background-color: #536878;
    color: #f8f8ff;
    z-index: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: nowrap;
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
    border-radius: 5%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #hero{
    font-size: 2.5rem;
    color:  #228b22;
    background-color: black;
    padding: 20px
  }

  #name-input{
    border: none
  }

  #game-screen{
    display: grid;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
  }
  header{
    border: white 1px solid;

  }
  header h1{
    display: flex;
    align-items: center;
    /* align-self: center; */
    /* justify-self: center; */
    flex-direction: column;
  }

  .info{
    display:flex;
    flex-direction: row;
    background-color: #8f00ff;
    border: white 1px solid;
    padding: 5px;
    align-items: flex-end;
    justify-content: space-around;
}

  .row {
    background-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: red;
    font-size: 3rem;
  }

  .row div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: green;
  }

  #controls{
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #controls div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-size: 3rem;
  }
  
  .Vis{
    display:none;
    /* display: grid; */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #536878;
    font-size: 6rem;
    border-style: solid;
    border-color: yellow;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top: 0;
    border-bottom: 0;
    height: 100vh;
  }

  .Vis div{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 768px) {
    body {
      /* background-color: lightgreen; */
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
    }
    .Vis{
      display:grid;
    }
    #greetings-screen{
      left:30%;
      right:30%;
    }
  }